<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="checkListMapper">

	<resultMap id="checkListSet" type="checkList" >
		<id property="idx" column="IDX"/>
		<result property="id" column="ID"/>
		<result property="idx" column="IDX"/>
		<result property="dIdx" column="D_IDX"/>
		<result property="listName" column="LIST_NAME"/>
		<result property="wdt" column="WDT"/>
		<result property="edt" column="EDT"/>
		<result property="mIdx" column="M_IDX"/>
		<result property="content" column="CONTENT"/>
		<result property="dWdt" column="D_WDT"/>
		<result property="dEdt" column="D_EDT"/>
		<result property="checkYN" column="CHECK_YN"/>
	
	</resultMap>
	
	
	<!-- 체크리스트 조회 -->
	<select id="selectCheckList" parameterType="checkList" resultMap="checkListSet">
		SELECT A.IDX, A.LIST_NAME
		 FROM CHECKLIST A
		WHERE A.ID = #{id}
	</select>
	
	
		<!-- 체크리스트디테일 조회 -->
	<select id="selectCheckListDetail" parameterType="checkList" resultMap="checkListSet">
		SELECT A.IDX, B.M_IDX, B.IDX AS D_IDX, B.CONTENT, B.CHECK_YN 
		FROM CHECKLIST A
		LEFT JOIN CHECKLIST_D B
		ON B.M_IDX = A.IDX	
		WHERE A.ID = #{id} 
	</select>
	
	
		<!-- 체크리스트수정 조회 -->
	<select id="checkListDetailView" parameterType="checkList" resultMap="checkListSet">
		SELECT A.IDX, B.M_IDX, B.CONTENT, B.CHECK_YN , A.LIST_NAME
		FROM CHECKLIST A
		LEFT JOIN CHECKLIST_D B
		ON B.M_IDX = A.IDX	
		WHERE A.ID = #{id} AND B.M_IDX = #{idx}
	</select>
	
	
	<!-- 마스터체크리스트 수정 -->
	<update id = "updateCheckListMaster" parameterType="checkList" >
		UPDATE CHECKLIST
           SET LIST_NAME = #{listName},
               EDT = NOW()
         WHERE IDX = #{idx}  
	</update>
	
		<!-- 디테일체크리스트 수정 -->
	<update id = "updateCheckListDetail" parameterType="checkList" >
		INSERT INTO CHECKLIST_D( M_IDX, CONTENT, D_WDT, D_EDT, CHECK_YN) 
	     VALUES( #{idx}, #{content}, NOW(),  NOW(), "N")
	
	</update>
	
	
	<!-- 마스터체크리스트 추가 -->
	<insert id = "insertCheckListMaster" parameterType="checkList">
	
	
	INSERT INTO CHECKLIST(ID, LIST_NAME, WDT, EDT) 
		VALUES(#{id}, #{listName}, NOW(),  NOW())
	
	</insert>
	
	<!-- 체크리스트 디테일 추가 -->
	<insert id ="insertCheckListDetail" parameterType="checkList">
	INSERT INTO CHECKLIST_D( M_IDX, CONTENT, D_WDT, D_EDT, CHECK_YN) 
	VALUES( (SELECT IFNULL(MAX(A.IDX),0) FROM CHECKLIST A WHERE A.ID = #{id}), #{content}, NOW(),  NOW(), "N")
	
	</insert>
	
	
	
	
	<!-- 체크리스트 디테일 삭제 -->
	<delete id="deleteCheckListDetail" parameterType="checkList">
		DELETE FROM CHECKLIST_D WHERE M_IDX = #{mIdx}
	</delete>
	
	<!-- 체크리스트 마스터 삭제 -->
	<delete id="deleteCheckListMaster" parameterType="checkList">
		DELETE FROM CHECKLIST WHERE IDX = #{idx}
	</delete>
	
	<!-- MAX(IDX) 조회 -->
	<select id="getIdx" parameterType="checkList" resultType="_int">
		
	</select>
	
	<!-- 사용여부 변경 -->
	<update id="updateYN" parameterType="Map">
		UPDATE CHECKLIST_D
		SET CHECK_YN = #{useYN},
			D_EDT = NOW()
		WHERE IDX = #{dIdx}
	</update>
</mapper>