<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="foodMapper">

	<resultMap id="foodResultSet" type="Food" >
		<id property="idx" column="IDX"/>
		<result property="uId" column="U_ID"/>
		<result property="tp" column="TP"/>
		<result property="wdt" column="WDT"/>
		<result property="jidx" column="JIDX"/>
		<result property="area" column="AREA"/>
		<result property="edt" column="EDT"/>
		<result property="fnm" column="FNM"/>
		<result property="bdt" column="BDT"/>
		<result property="fdt" column="FDT"/>
		<result property="vm" column="VM"/>
		<result property="price" column="PRICE"/>
		<result property="sort" column="SORT"/>
		<result property="chk" column="CHK"/>
	</resultMap>
	
		<select id="frFind" parameterType="Food" resultType="String">
	select DISTINCT(TP) from FOOD where u_id=#{uId}
	</select>
	
	<!-- 최초 냉장고 타입 생성 -->
		<insert id="insertType" parameterType="Food">
		INSERT INTO FOOD(U_ID, TP, WDT) VALUES(#{uId},#{cd}, NOW())
	</insert>
	
	<!-- 냉장고 음식 리스트 -->
	<select id="selectFr" parameterType="Food" resultMap="foodResultSet">
		SELECT B.TP,A.* ,CONCAT(SUBSTRING(A.FDT,6,2) , "/", SUBSTRING(A.FDT,9,2) ) AS FDT2
		 FROM FOOD_L A
		LEFT JOIN FOOD B ON A.JIDX=B.IDX
		WHERE B.U_ID=#{uId} 
		<if test='area != null'>
		AND AREA = #{area}
		</if>
		AND 
		<if test='mode.equals("0")'>
		(A.CHK = '0' or A.CHK IS NULL)
		</if>
		<if test='mode.equals("1")'>
		A.CHK = '1'
		</if> 
		<if test='idx != 0'> AND A.IDX=#{idx}</if>
		ORDER BY FDT, BDT DESC, WDT DESC
	</select>
	
	<select id="frJidx" parameterType="Food" resultType="int">
	select idx from FOOD where u_id=#{uId}
	</select>
	
		<insert id="fr01Insert" parameterType="Food">
		INSERT INTO FOOD_L(JIDX, AREA, WDT, EDT, FNM ,BDT
		 ,FDT, VM, PRICE, SORT,CHK) VALUES(#{jidx}, #{area}, NOW(), NOW(),
		#{fnm}, #{bdt},	#{fdt}, #{vm}, #{price}, '0', 
		<if test='chk ==0'>'0'</if>
		<if test='chk !=0'>#{chk}</if>
		)
		
	</insert>
	
	<insert id="fr01Insert2" parameterType="Food">
		INSERT INTO FOOD_L(JIDX, AREA, WDT, EDT, FNM
		 ,FDT, VM, PRICE, SORT,CHK) VALUES(#{jidx}, #{area}, NOW(), NOW(),
		#{fnm},	#{fdt}, #{vm}, #{price}, '0', 
		<if test='chk ==0'>'0'</if>
		<if test='chk !=0'>#{chk}</if>
		)
		
	</insert>
	
		<update id="fr01Update" parameterType="Food">
		UPDATE FOOD_L SET EDT=NOW(), FNM=#{fnm}, BDT=#{bdt} ,FDT=#{fdt} , VM=#{vm}, PRICE=#{price} WHERE IDX=#{idx}
		
		</update>
		
		<update id="fr01Update2" parameterType="Food">
		UPDATE FOOD_L SET EDT=NOW(), FNM=#{fnm}, FDT=#{fdt} , VM=#{vm}, PRICE=#{price} WHERE IDX=#{idx}
		
		</update>
		
		<delete id="fr01delete" parameterType="Food">
		DELETE FROM FOOD_L WHERE IDX=#{idx} AND JIDX=#{jidx}
		</delete>
		
		<update id="updateChk" parameterType="Food">
		UPDATE FOOD_L SET CHK=#{chk} WHERE IDX=#{idx} AND JIDX=#{jidx}
		
		</update>
	
</mapper>