<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manageMapper">

	<resultMap id="manageResultSet" type="Manage" >
		
		<id property="idx" column="IDX"/>
		<result property="yyyy" column="YYYY"/>
		<result property="mm" column="MM"/>
		<result property="wdt" column="WDT"/>
		<result property="edt" column="EDT"/>
		<result property="uId" column="U_ID"/>
		<result property="gasM" column="GAS_M"/>
		<result property="elM" column="EL_M"/>
		<result property="wtM" column="WT_M"/>
		<result property="itM" column="IT_M"/>
	</resultMap>

	<!-- 공과금 전체 페이지 당월 데이터 -->
	<select id="manageList" parameterType="Manage" resultMap="manageResultSet">
		SELECT IDX, YYYY,MM,U_ID, GAS_M, EL_M, WT_M, IT_M
		FROM MANAGE_MA WHERE U_ID= #{uId} AND YYYY =#{yyyy} AND MM = #{mm}	
	</select>

	<!-- 공과금 전체 페이지 당월,전월 비교 데이터 -->
	<select id="manageNP" parameterType="Manage" resultMap="manageResultSet">
		SELECT IDX, YYYY,MM,U_ID, NVL(GAS_M,0) as GAS_M, NVL(EL_M,0) AS EL_M , NVL(WT_M,0) AS WT_M, NVL(IT_M,0) AS IT_M
		FROM MANAGE_MA WHERE U_ID= #{uId} AND YYYY =#{yyyy} AND (MM IN (#{mm}, #{mm2}))	
	</select>
	
	<!-- 공과금 데이터 insert(당월) -->
	<insert id="insertMAll" parameterType="Manage">
		INSERT INTO MANAGE_MA VALUES(MN_SEQ.NEXTVAL,#{yyyy}, #{mm}, SYSDATE, SYSDATE, #{uId}, 
		#{gasM},#{elM},#{wtM},#{itM})
	</insert>

	<!-- 공과금 데이터 update (기본값만) -->
	<update id="updateMAll" parameterType="Manage">
		UPDATE MANAGE_MA SET EDT=SYSDATE, GAS_M=#{gasM}, EL_M=#{elM}, WT_M=#{wtM}, IT_M=#{itM}
		WHERE U_ID=#{uId} AND YYYY=#{yyyy} AND MM=#{mm}
	</update>
</mapper>
