<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myinfoMapper">
	<resultMap id="myinfoResultSet" type="Myinfo" >
		<id property="id" column="ID"/>
		<id property="pw" column="PW"/>
		<id property="gb" column="GB"/>
		<id property="sex" column="SEX"/>
		<id property="addr" column="ADDR"/>
		<id property="hp" column="HP"/>
		<id property="ltype" column="LTYPE"/>
		<id property="htype" column="HTYPE"/>
		<id property="birth" column="BIRTH"/>
		<id property="photo" column="PHOTO"/>
		<id property="nm" column="NM"/>
		<id property="email" column="EMAIL"/>
		<id property="tokens" column="TOKENS"/>
		<id property="profile" column="PROFILE"/>
		<id property="snsInfo" column="SNS_INFO"/>
	</resultMap>
	
	<select id="idChk" parameterType="Myinfo" resultType="String">
	SELECT id FROM USER_INFO WHERE ID=#{id}
	</select>
	
	<select id="checkPw" parameterType="Myinfo" resultType="String">
	SELECT PW FROM USER_INFO WHERE ID=#{id}
	</select>
	
	<insert id="signUp" parameterType="Myinfo">
		INSERT INTO USER_INFO(ID, PW,  GB,SEX, ADDR, HP, LTYPE,HTYPE, BIRTH, PHOTO, NM, N_NM, SNS_INFO,TOKENS,EMAIL,PROFILE) VALUES(#{id},#{pw}, #{gb}, #{sex}, #{addr}, #{hp}, 
		#{ltype},#{htype},#{birth},#{photo}, #{nm}, #{nNm}, #{snsInfo}, #{tokens}, #{email}, #{profile})
	</insert>
	
	<select id="selectUser" parameterType="Myinfo" resultMap="myinfoResultSet">
	SELECT ID, NM, N_NM, GB FROM USER_INFO WHERE ID=#{id}
	</select>
	
	<select id="selectCode" parameterType="Myinfo" resultMap="myinfoResultSet">
		SELECT CD, CNM FROM H_CODE_SECOND WHERE FCD=#{cd}
	</select>
	
	<select id="selectCode2" parameterType="Myinfo" resultMap="myinfoResultSet">
		SELECT CD, CNM FROM H_CODE_SECOND WHERE CD=#{cd}
	</select>
	
	
	<select id="selectCode3" parameterType="Myinfo" resultMap="myinfoResultSet">
		SELECT CD, CNM FROM H_CODE_THIRD WHERE SCD=#{scd}
	</select>
</mapper>