.tb{
	border: 1px solid black;
	width: 100%;
	text-align: center;
    height: 93px;
}

.boder-black{
	border: 1px solid black;
}
/*공과금 인풋(수정용) */
.manageI{
	width: 75px; 
}

/* 버튼기본 */
.btn_brown{
	background-color: #8f7662;
    color: white;
    border: 1px;
 	solid white;
    border-radius: 13%;
    width: 12%;
    margin-top: 1%;
    float: right;
}

.btn_brownNfloat{
	background-color: #8f7662;
    color: white;
    border: 1px;
 	solid white;
    border-radius: 13%;
    width: 48px;
    margin-top: 1%;
}
.btn_yellowNfloat{
	background-color: #ffa207;
    color: #3c3434;
    border: 1px;
 	solid white;
    border-radius: 13%;
    width: 48px;
    margin-top: 1%;
}